.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.top-center {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.three-columns, .two-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    text-align: center;
}

h2, h3 {
    color: #333;
    text-align: center;
    margin-bottom: 10px; 
}

h2.title {
    color: maroon;
    font-size: 2em; 
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 0.9em;
    margin-top: 0; 
}

li {
    margin: 5px 0;
}
